---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/locations/v1/cities/search?apikey=<WHEATHER_APP_ID>&q=moscow
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '7'
      Akamai-Grn:
      - 0.bf4fde17.1665158956.ff7e5f5
    body:
      encoding: UTF-8
      string: '[{"Version":1,"Key":"294021","Type":"City","Rank":10,"LocalizedName":"Moscow","EnglishName":"Moscow","PrimaryPostalCode":"","Region":{"ID":"ASI","LocalizedName":"Asia","EnglishName":"Asia"},"Country":{"ID":"RU","LocalizedName":"Russia","EnglishName":"Russia"},"AdministrativeArea":{"ID":"MOW","LocalizedName":"Moscow","EnglishName":"Moscow","Level":1,"LocalizedType":"Federal
        City","EnglishType":"Federal City","CountryID":"RU"},"TimeZone":{"Code":"MSK","Name":"Europe/Moscow","GmtOffset":3.0,"IsDaylightSaving":false,"NextOffsetChange":null},"GeoPosition":{"Latitude":55.752,"Longitude":37.619,"Elevation":{"Metric":{"Value":155.0,"Unit":"m","UnitType":5},"Imperial":{"Value":508.0,"Unit":"ft","UnitType":0}}},"IsAlias":false,"SupplementalAdminAreas":[{"Level":2,"LocalizedName":"Tsentralny","EnglishName":"Tsentralny"}],"DataSets":["AirQualityCurrentConditions","AirQualityForecasts","Alerts","DailyPollenForecast","ForecastConfidence","FutureRadar","MinuteCast"]},{"Version":1,"Key":"332633","Type":"City","Rank":65,"LocalizedName":"Moscow","EnglishName":"Moscow","PrimaryPostalCode":"83843","Region":{"ID":"NAM","LocalizedName":"North
        America","EnglishName":"North America"},"Country":{"ID":"US","LocalizedName":"United
        States","EnglishName":"United States"},"AdministrativeArea":{"ID":"ID","LocalizedName":"Idaho[...]
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/294021?apikey=<WHEATHER_APP_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '6'
      Akamai-Grn:
      - 0.a74fde17.1665158956.23bfd3ff
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2022-10-07T18:48:00+03:00","EpochTime":1665157680,"WeatherText":"Mostly
        clear","WeatherIcon":34,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":10.7,"Unit":"C","UnitType":17},"Imperial":{"Value":51.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ru/moscow/294021/current-weather/294021?lang=en-us","Link":"http://www.accuweather.com/en/ru/moscow/294021/current-weather/294021?lang=en-us"}]'
  recorded_at: Fri, 07 Oct 2022 16:09:16 GMT
recorded_with: VCR 6.1.0
